
.total {
  font-size: x-large;  
  align-items: flex-end;
}

.totalAmount {
  font-size: xxx-large; 
  color: darkred; 
}

.reminder {
  font-size: xx-large;
  color: darkred; 
}

.warning {
  font-size: small;
}